@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #053890, #06811d);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 0 0 15px #000000;
}

.todo-app h2 {
  justify-content: center;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bolder;
  text-shadow: 0 0 15px rgb(16, 16, 15);
}

img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #cfd0d1;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  box-shadow: 0 0 3px #000000;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: bold;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

button:hover {
  background-color: red;
}

ul li {
  list-style: none;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("assests/unchecked.png");
  box-shadow: inset 0 0 0 1px black;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
  font-weight: normal;
}

ul li.checked::before {
  background-image: url("assests/checked.png");
  box-shadow: none;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

ul li span:hover {
  background-color: #edeef0;
}


@media screen and (max-width: 600px) {
  .todo-app {
    width: 100%;
    max-width: 380px;
    background-color:yellow;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #cfd0d1;
    margin-right:20px;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 0 0 3px #000000;
  }

  button{
    box-shadow: 0 0 3px #ff5945;
  }
  
  .input-Box{
     padding-left: 30px; 
  }
}
